<h3><center> SCUBA Divelog App </h3></center>

<h1>LIST OF DIVES</h1> <%= link_to "Add new Dive", new_dife_path %>

<% @dives.reverse.each do |d| %>
  <h3><%= d.number %>
    <%= d.date.strftime('%d %b %y') %></h3>
  <p><%= d.timein.strftime('%H:%M') %>
    <%= d.timeout.strftime('%H:%M') %>
    <%= d.depth %>
    <%= d.bottom_time %>
    <%= d.air_start %>
    <%= d.air_end %>
    <%= d.nitrox %>
    <%= d.temperature %>
    <%= d.weight %>
    <%= d.computer %></p>
  <hr>
<% end %>
