<h3><center> SCUBA Divelog App </h3></center>

<table class="table table-hover">
<p>
  <strong>Dive #:</strong>
  <%= @dive.number %>

  <strong>Date:</strong>
  <%= @dive.date %>

  <strong>Time In:</strong>
  <%= @dive.timein %>

  <strong>Time Out:</strong>
  <%= @dive.timeout %>

  <strong>Dive Depth:</strong>
  <%= @dive.depth %>

  <strong>Bottom Time:</strong>
  <%= @dive.bottom_time %>

  <strong>Starting Air:</strong>
  <%= @dive.air_start %>

  <strong>Ending Air:</strong>
  <%= @dive.air_end %>

  <strong>Nitrox:</strong>
  <%= @dive.nitrox %>

  <strong>Temperature:</strong>
  <%= @dive.temperature %>

  <strong>Weight:</strong>
  <%= @dive.weight %>

  <strong>Computer:</strong>
  <%= @dive.computer %>
</p>
</table>
<%= link_to "Edit", edit_dife_path(@dive) %> |
<%= link_to "Delete", dife_path, method: :delete, data: {
  confirm: "Are you sure you want to delete this dive?"} %> |
<%= link_to "All Dives", dives_path %>
