<h3><center> SCUBA Divelog App </h3></center>

<h1>LIST OF USERS</h1> <%= link_to "Add new User", new_user_path %>

<% @users.reverse.each do |u| %>
  <%= image_tag @user.avatar.url(:medium) %>
  <h3><%= link_to u.name, user_path(u) %></h3>
  <h3><%= u.email %></h3>
  <h3><%= u.certification %></h3>
  <hr>
<% end %>
